    #booking {
        font-family: 'Montserrat', sans-serif;
    }
    
    #h1 {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        margin: 0px;
    }
    
    #form-container {
        background-color: whitesmoke;
        padding: 30px 20px;
        border: 1px;
    }
    
    .booking-form .form-group {
        position: relative;
        margin-bottom: 15px;
    }
    
    .booking-form .form-control {
        border: 1px;
        height: 45px;
        -webkit-box-shadow: 1px;
        box-shadow: 1px;
        font-weight: 400;
        color: #101113;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .booking-form .form-control::-webkit-input-placeholder {
        color: rgba(16, 17, 19, 0.3);
    }
    
    .booking-form .form-control:-ms-input-placeholder {
        color: rgba(16, 17, 19, 0.3);
    }
    
    .booking-form .form-control::placeholder {
        color: rgba(16, 17, 19, 0.3);
    }
    
    .booking-form input[type="date"].form-control:invalid {
        color: rgba(16, 17, 19, 0.3);
    }
    
    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .booking-form select.form-control+.select-arrow {
        position: absolute;
        right: 0px;
        bottom: 6px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: #101113;
        font-size: 14px;
    }
    
    .booking-form select.form-control+.select-arrow:after {
        content: '\279C';
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    .booking-form .form-label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
    }
    
    .booking-form .submit-btn {
        color: whitesmoke;
        font-weight: 700;
        height: 50px;
        border: none;
        width: 100%;
        display: block;
        text-transform: uppercase;
    }
    
    .form-container {
        padding: 50px 60px;
        margin-top: 10vh;
        -webkit-box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        color: black;
    }
    
    #signup_btn {
        background-color: royalblue;
    }
    
    #job_list {
        color: black;
        border: 3px solid;
        background-color: lightgrey;
    }
    
    #contact {
        text-align: inherit;
        color: #101113;
        font-family: 'Montserrat', sans-serif;
        border: 1px;
        height: 180px;
        background-color: #f2f2f2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        background: rgba(237, 237, 237, 1);
        background: -moz-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(53%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to right, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
    }
    
    #job_list {
        border: 1px;
        background-color: #f2f2f2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        background: rgba(237, 237, 237, 1);
        background: -moz-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(53%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to right, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
    }
    
    body {
        background-color: #2d3436;
    }
    
    #h {
        color: whitesmoke;
    }
    
    .form-container {
        padding: 50px 60px;
        margin-top: 10vh;
        -webkit-box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 61px 12px rgba(0, 0, 0, 0.75);
        color: black;
    }
    
    #signup_btn {
        background-color: royalblue;
    }
    
    #table0 {
        width: 300px;
        border: 1px;
        background-color: #f2f2f2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.48);
        background: rgba(237, 237, 237, 1);
        background: -moz-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(53%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to right, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
    }